<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>

<body>
    <h1>Product List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Stock</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <img th:src="${product.productImageUrl}" alt="Product Image" height="50">
            </td>
            <td th:text="${product.category.category}"></td>
            <td th:text="${product.quantityInStock}"></td>
        </tr>
    </table>
</body>

</html>