<!-- login.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <div th:replace="header :: header"></div>
    <h1>Login</h1>
    <form method="post" action="/login">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div th:replace="footer :: footer"></div>
</body>

</html>